<div class="c"></div>
<nav style="background-color: #EEE6f2;">
    <div class="nav__logo">
        <h4>Hello {{fullName}}</h4>
    </div>
    <ul class="nav__links">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

        </form>
        <!-- <li class="link"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="link"><a routerLink="/customers">Customers</a></li> -->
        <!-- <li class="link"><a routerLink="/leads">Leads</a></li>
        <li class="link">  <a routerLink="/sale">Sales</a></li> -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b> Location</b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="link"><a (click)="logout()" class="btn btn-outline-dark">Logout</a></li>

    </ul>
</nav>

<!--
    ********************carousel************************** -->
<br>
<div class="carousel">
    <ul class="panes">

        <li id="s1">
            <img src="../../../assets/img/ed1.png">
            <!-- <div class="content">
            <h3>RAY-BAN</h3>
            <p>Iconic style is always in fashion</p>
        </div> -->
        </li>

        <li id="s2">
            <img src="../../../assets/img/ed2.png">
            <!-- <div class="content">
          <h3>RAY-BAN</h3>
          <p>Iconic style is always in fashion</p>
        </div> -->
        </li>

        <li id="s3">
            <img src="../../../assets/img/ed1.png">
            <!-- <div class="content">
          <h3>RAY-BAN</h3>
            <p>Iconic style is always in fashion</p>
        </div> -->
        </li>

        <li id="s4">
            <img src="../../../assets/img/ed2.png">
            <!-- <div class="content">
          <h3>RAY-BAN</h3>
            <p>Iconic style is always in fashion</p>
        </div> -->
        </li>

        <li id="s5">
            <img src="../../../assets/img/ed1.png">
            <!-- <div class="content">
          <h3>RAY-BAN</h3>
            <p>Iconic style is always in fashion</p>
        </div> -->
        </li>
    </ul>
</div>

<!-- </div> -->
<!-- </body>
</html> -->
<!-- -------------------------------------card----------------------------------- -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<h2 style="color: #460f68;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sports</h2>
<br>
<!-- <body> -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="product-grid">

                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80">
                        <img class="pic-2"
                            src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80">
                    </a>
                    <ul class="product-links">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title" style="color: #460f68;"><a href="#">Women's Top</a></h3>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- </body> -->

</html>
<app-footer></app-footer>